<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Product</title>
</head>
<body>
  <form action="" method="POST">
    <input type="text" name="name" placeholder="Name" value=""> <br>
    <input type="text" name="totalAsset" placeholder="Total Asset" value=""> <br>
    Type: <br>
    <select name="type">
      <option selected> Pick Your Option </option>
      <option value="culinary"> culinary </option>
      <option value="delivery"> delivery </option>
      <option value="customer care"> customer care </option>
    </select> <br>
    On Business: <br>
    <input type="radio" name="onBusiness" value="true"> True <br>
    <input type="radio" name="onBusiness" value="false"> False <br>
    <input type="submit" value="Create Product">
  </form>
</body>
</html>